<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>Campfire</title>
    <script src="https://use.fontawesome.com/e1a7194148.js"></script>
    <link rel="stylesheet" href="<%= assetsMap.main.css %>">
</head>
<body>
    <div class="wrapper">
        <nav class id="section-nav">
            <img class="navbar-logo" src="../images/section-top/logo-copy.png">
            <div class="navbar-content">
                <ul id="navbar-links">
                    <li class="navbar-link"><a href="#section-about">Who we are</a></li>
                    <li class="navbar-link"><a href="#section-features">Membership Features</a></li>
                    <li class="navbar-link"><a href="#section-plans">Our plans</a></li>
                    <li class="navbar-link"><a href="#section-locations">Our locations</a></li>
                    <li class="navbar-link"><a href="#section-loop">Blogs/Events</a></li>
                    <li class="navbar-link"><a href="#section-contact">Join Us</a></li>
                    <li class="navbar-link"><a href="" type="button" class="button red-button normal-button">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <section class="section-wrapper" id="section-top">
            <div class="row" id="top-first-quote">
                <h1 class="white-text large-text letter-space">
                    Industry focused<br>
                    coworking spaces
                </h1>
            </div>
            <div class="row">
                <h2 class="white-text medium-text" id="top-second-quote">Connect. Collaborate. Create.</h2>
                <a href="#section-about"><img class="arrow-down" src="../images/section-top/arrow-down.png" alt="" /></a>
            </div>
        </section>

        <section class="section-wrapper" id="section-about">
            <div class="container-fluid" id="about-wrapper">
                <div class="row row-eq-height vertical-center" id="about-first">
                    <div class="col col-sm-4" id="who-we-are">
                        <h1 class="red-text x-large-text letter-space">Who<br>we<br>are</h1>
                    </div>
                    <div class="col col-sm-8">
                        <p class="red-text" id="who-description">Campfire Collaborative Spaces is Asia's fastest growing network of shared spaces. By end 2017, Campfire will have 7 industry-focused co-working, 1 co-living, and 1 co-learning sites in 4 countries. With real estate at a premium in most major cities. Campfire provides reliable and flexible sites to maximise utilisation. Currently operating 2 industry focused workspaces in Hong Kong (Kennedy Town - Tech and Wong Chuk Hang - Fashion), that were designed to provide every tools and services possible for members to grow. Campfire was conceptualized as a place where like-minded entrepreneurs can gather to share their experiences and work together. Campfire encourages its members to connect, create, and collaborate through industry-specific facilities, relevant events, and vibrant communities.</p>
                    </div>
                </div>
                <div class="row row-eq-height vertical-center" id="about-second">
                    <div class="col col-sm-8">
                        <h3 class="red-text normal-text">Stay up to date with out latest project<br> developments of co-learning and co-living spaces</h3>
                    </div>
                    <div class="col col-sm-5 flex flex-center" id="about-buttons">
                        <a href="" type="button" class="button gray-button medium-button" id="colearning">Co-learning</a>
                        <a href="" type="button" class="button gray-button medium-button">Co-living</a>
                    </div>
                </div>
            </div>
            <div class="parallax" id="about-image-container">
            </div>
        </section>

        <section class="section-wrapper" id="section-features">
            <div class="container-fluid">
                <div class="row row-eq-height vertical-center">
                    <div class="col col-sm-6">
                        <h1 class="large-text white-text">Membership<br>features</h1>
                    </div>
                    <div class="col col-sm-6">
                        <div class="row" id="features-one">
                            <div class="col col-sm-6 col-features">
                                <h3 class="white-text normal-text">Industry focused<br>hardware</h2>
                                <div class="features-icon">
                                <img class="features-icon" src="../images/section-features/hardware.png" alt="" />
                                </div>
                                <p class="white-text">Utilize state-of-the-art hardware for each specific industry at every Campfire site</p>
                            </div>
                            <div class="col col-sm-6 col-features">
                                <h3 class="white-text normal-text">Industry relevant<br>events</h2>
                                <img class="features-icon" src="../images/section-features/events.png" alt="">
                                <p class="white-text">Be inspired by frequent events with  expert speakers and networking with your peers </p>
                            </div>
                        </div>
                        <div class="row" id="features-two">
                            <div class="col col-sm-6 col-features">
                                <h3 class="white-text normal-text">Global access</h2>
                                <img class="features-icon" src="../images/section-features/global.png" alt="">
                                <p class="white-text">Travel and work with ease, Campfire Memberships entitles you to work anywhere we are</p>
                            </div>
                            <div class="col col-sm-6 col-features">
                                <h3 class="white-text normal-text">Camper perks</h2>
                                <img class="features-icon" src="../images/section-features/tent.png" alt="">
                                <ul class="white-text" id="camper-perks">
                                    <li>Reliable Internet</li>
                                    <li>Friendly Community Hosts</li>
                                    <li>Clean Locations</li>
                                    <li>Unique Meeting Rooms</li>
                                    <li>Campfire Canteen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-wrapper" id="section-plans">
            <div class="section-header vertical-center flex flex-center">
                <h2 class="white-text medium-text">Campfire Plans</h2>
            </div>
            <div class="plans-accordion">
                <div class="plans-toggle active normal-text" id="flex-toggle">
                    <h3 class="toggle-text normal-text">Flex</h3>
                    <i class="fa fa-chevron-up fa-lg plans-chevron" aria-hidden="true"></i>
                </div>
                <!-- Flex panel -->
                <div class="plans-content open" id="flex-content">
                    <div class="plans-wrapper" id="flex-details">
                        <div class="row plans-details">
                            <div class="col col-sm-6">
                                <h2 class="white-text medium-text">Flex Plan</h2>
                                <p class="white-text">The Flexible plan is a short-term alternative to a home-office. These plans are flexible Hot Desk for a short-term membership. The plans include the following</p>
                                <a href="" type="button" class="button red-button large-button">Sign me up</a>
                            </div>
                            <div class="col col-sm-6 hours-addons">
                                <div class="plans-hours">
                                    <h3 class="white-text">Hours</h3>
                                    <p class="white-text">
                                    Day (9.00AM - 6.30PM)<br>
                                    Week (Monday - Friday 9.00AM - 6.30PM)<br>
                                    Half Day Monthly
                                    </p>
                                </div>
                                <div class="plans-addons">
                                    <h3 class="white-text">Additional Add-Ons</h3>
                                    <p class="white-text">
                                    Lockers<br>
                                    Mail/Handling<br>
                                    Meeting Room
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hot Desk panel -->
                <div class="plans-toggle inactive" id="hot-toggle">
                    <h3 class="toggle-text normal-text">Hot Desk</h3>
                    <i class="fa fa-chevron-down fa-lg plans-chevron" aria-hidden="true"></i>
                </div>
                <div class="plans-content closed" id="hot-content">
                    <div class="plans-wrapper" id="flex-details">
                        <div class="row plans-details">
                            <div class="col col-sm-6">
                                <h2 class="white-text medium-text">Flex Plan</h2>
                                <p class="white-text">The Flexible plan is a short-term alternative to a home-office. These plans are flexible Hot Desk for a short-term membership. The plans include the following</p>
                                <a href="" type="button" class="button red-button large-button">Sign me up</a>
                            </div>
                            <div class="col col-sm-6">
                                <div class="plans-hours">
                                    <h3 class="white-text">Hours</h3>
                                    <p class="white-text">
                                    Day (9.00AM - 6.30PM)<br>
                                    Week (Monday - Friday 9.00AM - 6.30PM)<br>
                                    Half Day Monthly
                                    </p>
                                </div>
                                <div class="plans-addons">
                                    <h3 class="white-text">Additional Add-Ons</h3>
                                    <p class="white-text">
                                    Lockers<br>
                                    Mail/Handling<br>
                                    Meeting Room
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mixed Desk panel -->
                <div class="plans-toggle inactive" id="mixed-toggle">
                    <h3 class="toggle-text normal-text">Mixed Desk</h3>
                    <i class="fa fa-chevron-down fa-lg plans-chevron" aria-hidden="true"></i>
                </div>
                <div class="plans-content closed" id="mixed-content">
                    <div class="plans-wrapper" id="mixed-details">
                        <div class="row plans-details">
                            <div class="col col-sm-6">
                                <h2 class="white-text medium-text">Flex Plan</h2>
                                <p class="white-text">The Flexible plan is a short-term alternative to a home-office. These plans are flexible Hot Desk for a short-term membership. The plans include the following</p>
                                <a href="" type="button" class="button red-button large-button">Sign me up</a>
                            </div>
                            <div class="col col-sm-6">
                                <div class="plans-hours">
                                    <h3 class="white-text">Hours</h3>
                                    <p class="white-text">
                                    Day (9.00AM - 6.30PM)<br>
                                    Week (Monday - Friday 9.00AM - 6.30PM)<br>
                                    Half Day Monthly
                                    </p>
                                </div>
                                <div class="plans-addons">
                                    <h3 class="white-text">Additional Add-Ons</h3>
                                    <p class="white-text">
                                    Lockers<br>
                                    Mail/Handling<br>
                                    Meeting Room
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Private panel -->
                <div class="plans-toggle inactive" id="private-toggle">
                    <h3 class="toggle-text normal-text">Private</h3>
                    <i class="fa fa-chevron-down fa-lg plans-chevron" aria-hidden="true"></i>
                </div>
                <div class="plans-content closed" id="private-content">
                    <div class="plans-wrapper" id="mixed-details">
                        <div class="row plans-details">
                            <div class="col col-sm-6">
                                <h2 class="white-text medium-text">Flex Plan</h2>
                                <p class="white-text">The Flexible plan is a short-term alternative to a home-office. These plans are flexible Hot Desk for a short-term membership. The plans include the following</p>
                                <a href="" type="button" class="button red-button large-button">Sign me up</a>
                            </div>
                            <div class="col col-sm-6">
                                <div class="plans-hours">
                                    <h3 class="white-text">Hours</h3>
                                    <p class="white-text">
                                        Day (9.00AM - 6.30PM)<br>
                                        Week (Monday - Friday 9.00AM - 6.30PM)<br>
                                        Half Day Monthly
                                    </p>
                                </div>
                                <div class="plans-addons">
                                    <h3 class="white-text">Additional Add-Ons</h3>
                                    <p class="white-text">
                                        Lockers<br>
                                        Mail/Handling<br>
                                        Meeting Room
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="parallax" id="plans-parallax">
        </section>

        <section class="section-wrapper" id="section-locations">
            <div class="section-header vertical-center flex flex-center">
                <h2 class="white-text medium-text">Locations</h2>
            </div>
            <div class="locations-container">
                <div class="locations-accordion">
                    <div class="locations-toggle active-location">
                        <h3 class="toggle-text normal-text">Hong Kong</h3>
                        <i class="fa fa-chevron-up fa-lg locations-chevron" aria-hidden="true"></i>
                    </div>

                    <!-- Hong Kong -->
                    <div class="locations-content open-location" id="hk-content">
                        <div class="modal hk-modal">
                            <div class="modal-wrapper">
                                <div class="row location-tabs">
                                    <img class="close-x" src="../images/section-locations/close-x.png">
                                    <div class="col col-sm-6">
                                        <div class="row tab-list">
                                            <div class="location-tab inactive-tab"><h3 class="normal-text"> Kennedy Town</h3></div>
                                            <div class="location-tab inactive-tab"><h3 class="normal-text">Quarry Bay</h3></div>
                                            <div class="location-tab active-tab"><h3 class="normal-text">Wong Chuk Hang</h3></div>
                                        </div>
                                        <div class="row address-details">
                                                <table class="white-text address-table">
                                                    <tr>
                                                        <td class="table-left">Industry:</td>
                                                        <td>Fashion</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="table-left">Address:</td>
                                                        <td>5/F, Remex Centre,<br>
                                                            42 Wong Chuk Hang Road,<br>
                                                            Hong Kong
                                                    </tr>
                                                    <tr>
                                                        <td class="table-left">Contact:</td>
                                                        <td>hello.wch@campfire.work</td>
                                                    </tr>
                                                </table>

                                                <a href="" type="button" class="button red-button medium-button">Contact Us</a>
                                        </div>
                                    </div>
                                    <div class="col col-sm-6">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="map-wrapper">
                            <div class="map-canvas" id="map1"></div>
                        </div>
                    </div>

                    <!-- Australia -->
                    <div class="locations-toggle inactive-location" id="au">
                        <h3 class="toggle-text normal-text">Australia</h3>
                        <i class="fa fa-chevron-down fa-lg locations-chevron" aria-hidden="true"></i>
                    </div>

                    <div class="locations-content closed-location" id="au-content">
                        <div class="map-wrapper">
                            <div class="map-canvas" id="map2"></div>
                        </div>
                    </div>

                    <!-- Singapore -->
                    <div class="locations-toggle inactive-location" id="sg">
                        <h3 class="toggle-text normal-text">Singapore</h3>
                        <i class="fa fa-chevron-down fa-lg locations-chevron" aria-hidden="true"></i>
                    </div>
                    <div class="locations-content closed-location" id="sg-content">
                        <div class="map-wrapper">
                            <div class="map-canvas" id="map3"></div>
                        </div>
                    </div>

                    <!-- United Kingdom -->
                    <div class="locations-toggle inactive-location" id="uk">
                        <h3 class="toggle-text normal-text">United Kingdom</h3>
                        <i class="fa fa-chevron-down fa-lg locations-chevron" aria-hidden="true"></i>
                    </div>
                    <div class="locations-content closed-location" id="uk-content">
                        <div class="map-wrapper">
                            <div class="map-canvas" id="map4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-wrapper" id="section-loop">

            <div class="container-fluid">
                <div id="loop-images">
                    <img class="loop-img" id="loop-left" src="../images/section-loop/background-animations-left.png">
                    <img class="loop-img" id="loop-right" src="../images/section-loop/background-animations-right.png">
                </div>
                <div id="loop-text-container">
                    <div class="row" id="loop">
                        <h2 class="red-text letter-space medium-text">Stay in</h2>
                        <h1 class="red-text letter-space x-large-text">the Loop</h1>
                        <h2 class="red-text letter-space medium-text">with us</h2>
                    </div>
                    <div class="row" id="loop-buttons">
                        <div class="col col-md-6">
                            <h3 class="red-text normal-text">Blogs</h3>
                            <a href="" type="button" class="button red-button medium-button">Read More</a>
                        </div>
                        <div class="col col-md-6">
                            <h3 class="red-text normal-text">Events</h3>
                            <a href="" type="button" class="button red-button medium-button">See More</a>
                        </div>
                    </div>
                    <div class="row newsletter flex-center flex">
                        <input type="email" value="" placeholder="Join our newsletter (Enter email address)" class="email-input normal-text"></input>
                        <input type="submit" value="Sign me up" class="button red-button medium-button email-submit"></input>
                    </div>
                </div>
            </div>
        </section>

        <section class="section wrapper" id="section-contact">
            <div class="container-fluid">
                <div class="row vertical-center">
                    <div class="col col-md-7">
                        <h2 class="red-text letter-space medium-text">Interested in our space?</h2>
                        <h1 class="red-text letter-space x-large-text">Join us</h1>
                    </div>
                    <div class="col col-md-5">
                        <a href="" type="button" id="loop-contact" class="button red-button normal-button">Contact Us</a>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid">
                <div class="footer-wrapper">
                    <div class="row icon-wrapper flex">
                        <div class="col col-mid-6 vertical-center logo-container">
                            <img class="footer-logo" src="../images/footer/footersmall-logo.png">
                            <p class="red-text footer-text">Industry focused coworking spaces</p>
                        </div>
                        <div class="col col-mid-6 social-wrapper inline-flex">
                            <a href="">
                            <img class="social-icons" src="../images/footer/footer-social-icons_01.png" alt="Instagram">
                            </a>
                            <a href="">
                            <img class="social-icons" src="../images/footer/footer-social-icons_03.png" alt="Facebook">
                            </a>
                            <a href="">
                            <img class="social-icons" src="../images/footer/footer-social-icons_05.png" alt="LinkedIn">
                            </a>
                            <a href="">
                            <img class="social-icons" src="../images/footer/footer-social-icons_07.png" alt="Twitter">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <p class="red-text copyright-text">&copy; Campfire</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="<%= assetsMap.main.js %>"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeUTHyja3qHkEDdBeQk4Py0s1TcavBF38"></script>

</body>
</html>
