<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Campfire</title>

    <link rel="stylesheet" href="<%= assetsMap.main.css %>">
</head>
<body>

    <div class="wrapper">
        <div class="container-fluid">
            <nav class="navbar-wrapper">
                <nav class="navbar-content">
                    <ul id="navbar-list">
                        <li class="navbar-link"><a href="#">Who we are</a></li>
                        <li class="navbar-link"><a href="#">Membership Features</a></li>
                        <li class="navbar-link"><a href="#">Our plans</a></li>
                        <li class="navbar-link"><a href="#">Our locations</a></li>
                        <li class="navbar-link"><a href="#">Blogs/Events</a></li>
                        <li class="navbar-link"><a href="#">Join Us</a></li>
                    </ul>
                    <button type="button" class="button red-button" id="nav-contact-button">contact us</button>
                </nav>
            </nav>

            <section class="section-wrapper" id="section-top">
                <div class="row">
                    <div class="col col-sm-7" id="top-main-quote">
                        Industry focused coworking spaces
                    </div>
                    <div class="col col-sm-offset-5">
                    </div>
                </div>

                <div class="row" id="top-sub-quote">
                    <h2>Connect. Collaborate. Create.</h2>
                    <div id="circle-arrow"></div>
                </div>
            </section>


        </div>



    </div>

<!--
    	<h1>&amp;:hover @extend .animate</h1>
    	<h2>color: lighten($textColor, 10%)</h2>
    	<h3>$increased-size: $font-size*10</h3>

    	<div class="circle shapes">
    		<p>@include border-radius(50%)</p>
    	</div>
    	<div class="rounded-square shapes">
    		<p>@include transform(rotate(15deg) scale(.9))</p>
        </div> -->

    </div>

    <script src="<%= assetsMap.main.js %>"></script>
</body>
</html>
