<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
	<title>Campfire</title>

    <link rel="stylesheet" href="<%= assetsMap.main.css %>">
</head>
<body>

    <div class="wrapper">
        <nav class="navbar-wrapper">
            <nav class="navbar-content">
                <ul id="navbar-list">
                    <li class="navbar-link"><a href="#">Who we are</a></li>
                    <li class="navbar-link"><a href="#">Membership Features</a></li>
                    <li class="navbar-link"><a href="#">Our plans</a></li>
                    <li class="navbar-link"><a href="#">Our locations</a></li>
                    <li class="navbar-link"><a href="#">Blogs/Events</a></li>
                    <li class="navbar-link"><a href="#">Join Us</a></li>
                </ul>
                <button type="button" class="button red-button" id="nav-contact-button">contact us</button>
            </nav>
        </nav>

        <section class="section-wrapper" id="section-top">
            <div class="row">
                <div class="col col-md-7" id="top-main-quote">
                    <span id="quote-text">Industry focused coworking spaces</span>
                </div>
                <div class="col col-md-offset-5">
                </div>
            </div>

            <div class="row" id="top-sub-quote">
                <h2>Connect. Collaborate. Create.</h2>
                    <img src='/public/images/section-top/arrow-down.png' alt=""/>
            </div>
        </section>

        <section class="section-wrapper" id="section-about">
            <div id="about-container">
                <div class="row vertical-center" id="about-first">
                    <div class="col col-md-4" id="who-we-are">
                        <h1 class="red letter-space">Who<br>we<br>are</h1>
                    </div>

                    <div class="col col-md-8" id="about-description">
                        <p>Campfire Collaborative Spaces is Asia's fastest growing network of shared spaces. By end 2017, Campfire will have 7 industry-focused co-working, 1 co-living, and 1 co-learning sites in 4 countries. With real estate at a premium in most major cities. Campfire provides reliable and flexible sites to maximise utilisation. Currently operating 2 industry focused workspaces in Hong Kong (Kennedy Town - Tech and Wong Chuk Hang - Fashion), that were designed to provide every tools and services possible for members to grow. Campfire was conceptualized as a place where like-minded entrepreneurs can gather to share their experiences and work together. Campfire encourages its members to connect, create, and collaborate through industry-specific facilities, relevant events, and vibrant communities.</p>
                    </div>
                </div>
                <div class="row" id="about-second">
                    <div class="col col-md-7" id="">
                        <h3 class="red">Stay up to date with out latest project<br /> developments of co-learning and co-living spaces</h3>
                    </div>
                    <div class="col col-md-5" id="about-buttons">
                        <button type="button" class="button gray-button" id="co-learning">co-learning</button>
                        <button type="button" class="button gray-button" id="co-living">co-living</button>
                    </div>
                </div>
            </div>

            <div class="parallax" id="about-image-container">
            </div>
        </section>

        <section class="section-wrapper" id="section-features">
            <div class="row vertical-center" id="features-table">
                <div class="col col-md-6">
                    <h1 class="white">Membership<br>features</h1>
                </div>
                <div class="col col-md-6">
                    <div class="row" id="features-one">
                        <div class="col col-md-6">
                            <h3 class="white">Industry focused<br>hardware</h2>
                            <div class="features-icon">
                                <figure class="features-img">
                                    <img src="public/images/section-features/events.png" alt="">
                                </figure>
                            </div>
                            <p class="white">Utilize state-of-the-art hardware for each specific industry at every Campfire site</p>
                        </div>
                        <div class="col col-md-6">
                            <h3 class="white">Industry relevant<br>events</h2>
                            <p class="white">Be inspired by frequent events with  expert speakers and networking with your peers </p>
                        </div>
                    </div>
                    <div class="row" id="features-two">
                        <div class="col col-md-6">
                            <h3 class="white">Global access</h2>
                            <p class="white">Travel and work with ease, Campfire Memberships entitles you to work anywhere we are</p>
                        </div>
                        <div class="col col-md-6">
                            <h3 class="white">Camper perks</h2>
                            <ul class="white" id="camper-perks">
                                <li>Reliable Internet</li>
                                <li>Friendly Community Hosts</li>
                                <li>Clean Locations</li>
                                <li>Unique Meeting Rooms</li>
                                <li>Campfire Canteen</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-wrapper" id="section-plans">
            <div class="section-header vertical-center centered-text">
                <h2 class="white">Campfire Plans</h2>
            </div>

            <div class="plans-accordion">
                <div class="panel-toggle vertical-center active" id="flex-toggle">
                    <h3>Flex</h3>
                </div>
                <div class="panel-content open" id="flex-content">
                    <div class="plans-details" id="flex-details">
                    </div>
                </div>

                <div class="panel-toggle vertical-center inactive" id="hot-toggle">
                    <h3 class="white">Hot Desk</h3>
                </div>
                <div class="panel-content closed" id="hot-content">
                </div>

                <div class="panel-toggle vertical-center inactive" id="mixed-toggle">
                    <h3 class="white">Mixed Desk</h3>
                </div>
                <div class="panel-content closed" id="mixed-content">
                </div>

                <div class="panel-toggle vertical-center inactive" id="private-toggle">
                    <h3 class="white">Private</h3>
                </div>
                <div class="panel-content closed" id="private-content">
                </div>
            </div>
        </section>

        <section class="section-wrapper parallax" id="plans-parallax">
        </section>

        <section class="section-wrapper" id="section-locations">
            <div class="section-header vertical-center centered-text">
                <h2 class="white">Locations</h2>
            </div>
            <div class="locations-container">

            </div>
        </section>

        <section class="section-wrapper" id="section-loop">
            <div class="row vertical-center" id="loop">
                <div class="col col-md-6">
                    <h2 class="red letter-space">Stay in</h2>
                    <h1 class="red letter-space">the Loop</h1>
                    <h2 class="red letter-space float-right">with us</h2>
                </div>
                <div class="col col-md-offset-6">
                </div>

            </div>
            <div class="row" id="loop-buttons">
                <div class="col col-md-6">
                    <h3 class="red">Blogs</h3>
                    <button type="button" class="button red-button" id="readmore">Read More</button>
                </div>
                <div class="col col-md-6">
                    <h3 class="red">Events</h3>
                    <button type="button" class="button red-button" id="seemore">See More</button>
                </div>
            </div>
            <div class="row" id="loop-email">
                <div class="col col-md-12">
                </div>
            </div>
        </section>

        <section class="section-wrapper letter-space" id="section-contact">
            <div class="row vertical-center" id="contact-bottom">
                <div class="col col-md-7">
                    <h2 class="red">Interested in our space?</h2>
                    <h1 class="red letter-space">Join us</h1>
                </div>
                <div class="col col-md-5">
                    <button type="button" class="button red-button">Contact Us</button>
                 </div>
            </div>
        </section>
<!--
        <footer>
            <p class="red">Industry focused coworking spaces</p>
        </footer> -->
    </div>

    <script src="<%= assetsMap.main.js %>"></script>

</body>
</html>
