@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

@import '_mixins';

$font-stack: "Monsterrat", "Arial", sans-serif;
$campfire-darkRed: #801618;
$campfire-lightRed: #af2024;
$campfire-white: #ffffff;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: #222;
}

.wrapper {
  width: 100%;
  background-color: $campfire-white;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

.campDarkRed {
  color: $campfire-darkRed;
}

.campLightRed {
  color: $campfire-lightRed
}

.campWhite {
  color: $campfire-white;
}

h1 {
  text-transform: uppercase;

  &.large-bold {
    font-weight: 600;
    font-size: 54px;
    letter-spacing: 3px;
    line-height: 150%;
  }

  &.medium-regular {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

h2 {
  text-transform: uppercase;

  &.medium-thin {
    font-weight: 300;
  }

  &.medium-regular {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
  }

  &.large-regular {
    font-size: 30px;
    text-align: center;
  }
}

h3 {
  text-transform: uppercase;

  &.medium-regular {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

p {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 150%;
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  width: 140px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 4px;
  transition: .2s all ease-in-out;

  &.small-regular {
    font-size: 12px;
    letter-spacing: 1px;
  }

  &.button-grey {
    background-color: #eee;
    color: $campfire-lightRed;

    &:hover {
      background-color: #ccc;
    }
  }

  &.button-red {
    background-color: $campfire-lightRed;
    color: $campfire-white;

    &:hover {
      background-color: darken($campfire-lightRed, 10%);
    }
  }
}

/**
 * Icon styles
 */

i.fa-chevron-down,
i.fa-chevron-right {
  color: $campfire-white;
}

/**
 * Section Styles
 */

section.section {
  height: 100vh;
  background-color: #333;

  &:first-of-type {
    height: 96.825vh;
  }

  .section-row-wrapper {
    padding: 30px 0;
  }

  .red-header {
    background-color: $campfire-lightRed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-image {
    max-height: 370px;
    min-height: 200px;
    padding-bottom: 19.27%;
    width: 100%;
    background-color: #aaa;

    figure {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/**
 * Main Section
 */
section.section-main {
  border-bottom: 30px solid $campfire-lightRed;
}

/**
 * About Section
 */
section.section-about {
  height: auto;
  background-color: $campfire-white;
  padding-bottom: 0;
  padding-top: 50px;

  .about-wording {
    max-width: 750px;
  }
}

/**
 * Member Section
 */
section.section-member {
  height: auto;
  background-color: $campfire-darkRed;
  border-bottom: 30px solid $campfire-white;
  padding: 80px 0;

  .flex-display {
    &.position-center {
      flex-direction: column;
    }
  }

  .feature-wrapper {
    min-height: 255px;
  }

  .member-heading,
  .member-icon {
    margin-bottom: 20px;
  }

  .member-icon {
    height: 100px;
    width: 100px;
    background-color: $campfire-white;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .member-wording {
    text-align: center;
  }

  .member-list {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 150%;
  }
}

/**
 * Plans Section
 */
section.section-plans {
  height: auto;
  border-bottom: 30px solid $campfire-white;

  .accordion-plans-wrapper {
    border-bottom: 30px solid $campfire-white;

    .accordion-plan {
      width: 100%;

      .accordion-button {
        position: relative;
        width: 100%;
        background-color: $campfire-lightRed;
        border-top: 1px solid white;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        h2, i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all .5s ease-in-out;
        }

        h2 {
          text-align: left;
          left: 50px;
          font-size: 18px;
        }

        i {
          right: 50px;
        }

        &.active-plan {
          background-color: $campfire-white;

          h2, i {
            color: $campfire-lightRed;
          }

          h2 {
            font-size: 20px;
            transform: translate(10px, -50%)
          }

          i {
            transform: translate(-10px, -50%)
          }
        }
      }

      .accordion-content {
        background-color: #ccc;
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;

        &.active-plan {
          max-height: 75vh;
        }

        .accordion-content-wrapper {
          background-color: rgba(0, 0, 0, 0.7);
          width: 70%;
          margin: 60px auto;
          padding: 40px;

          .accordion-left {
            display: flex;
            flex-direction: column;

            h2, p, a {
              text-align: left;
              margin-bottom: 40px;
            }
          }

          .accordion-right {
            h3 {
              margin: 20px 0;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .section-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
