@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

@import '_mixins';

$font-stack: "Montserrat", "Arial", sans-serif;
$campfire-darkRed: #801618;
$campfire-lightRed: #af2024;
$campfire-white: #ffffff;
$campfire-black: #222;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $font-stack;
  font-weight: 400;
  color: $campfire-black;
  overflow-x: hidden;

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  background-color: $campfire-white;
  padding-left: 3.125%;
  padding-right: 3.125%;
  padding-top: 3.125%;

  &.is-active {
    overflow: hidden;
    height: 100%;
  }
}

.full-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

.campDarkRed {
  color: $campfire-darkRed;
}

.campLightRed {
  color: $campfire-lightRed
}

.campWhite {
  color: $campfire-white;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .nowrap {
    white-space: normal;
  }
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all;

  &.massive-bold {
    font-weight: 600;
    font-size: 76px;
    letter-spacing: 3px;
    line-height: 120%;
  }

  &.larger-bold {
    font-weight: 600;
    font-size: 58px;
    letter-spacing: 1px;
    line-height: 150%;
  }

  &.large-bold {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 3px;
    line-height: 150%;
  }

  &.large-regular {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 3px;
    line-height: 150%;
  }

  &.medium-regular {
    font-size: 32px;
    font-weight: 400;
  }
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all;

  &.medium-light {
    font-size: 20px;
    font-weight: 300;
  }

  &.medium-regular {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
  }

  &.medium-bold {
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &.large-regular {
    font-size: 30px;
    text-align: center;
  }

  &.large-light {
   font-size: 30px;
   font-weight: 300;
  }
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all;

  &.medium-regular {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
}

p {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 150%;
}

@media (max-width: 768px) {
  h1 {
    &.massive-bold {
      font-size: 40px;
    }

    &.larger-bold {
      font-size: 36px;
    }

    &.large-bold {
      font-size: 34px;
    }

    &.large-regular {
      font-size: 34px;
    }

    &.medium-regular {
      font-size: 24px;
    }
  }

  h2 {
    &.medium-light {
      font-size: 20px;
      font-weight: 300;
    }

    &.medium-regular {
      font-weight: 400;
      text-align: center;
      font-size: 20px;
    }

    &.medium-bold {
      font-weight: 600;
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &.large-regular {
      font-size: 24px;
      text-align: center;
    }

    &.large-light {
     font-size: 15px;
     font-weight: 300;
    }
  }

  p {
    font-size: 12px;
  }
}

/**
 * Button styles
 */

a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  width: 150px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 4px;
  transition: .2s all ease-in-out;

  &.small-regular {
    font-size: 12px;
    letter-spacing: 1px;
  }

  &.small-bold {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &.button-grey {
    background-color: #eee;
    color: $campfire-black;
    border: 1px solid #eee;

    &:hover {
      background-color: $campfire-lightRed;
      color: $campfire-white;
      border: 1px solid $campfire-lightRed;
    }
  }

  &.button-red {
    background-color: $campfire-lightRed;
    color: $campfire-white;
    border: 1px solid $campfire-lightRed;

    &:hover {
      background-color: darken($campfire-lightRed, 10%);
      border: 1px solid darken($campfire-lightRed, 10%);
    }
  }
}

@media (max-width: 768px) {
  a.button {
    padding: 10px 15px;
    width: 130px;
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
  }
}

i.fa-chevron-down,
i.fa-chevron-right {
  color: $campfire-white;
}

/**
 * Navigation Styles
 */
.main-navigation {
  position: relative;
  padding: 25px 25px 0 25px;
  display: flex;
  align-items: flex-start;

  .navigation-logo-wrapper {
    display: block;

    figure.heading-logo-image {
      max-width: 100px;
    }
  }

  .navigation-list-wrapper {
    display: block;
    margin-left: auto;
    margin-right: -10px;

    ul {
      list-style: none;

      li {
        display: inline;
        margin: 0 12px;

        a {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 300;
          text-decoration: none;
          letter-spacing: 1px;
          border-bottom: 2px solid transparent;
          transition: .2s all ease;


          &.navLink {
            &:hover {
              color: $campfire-white;
              border-bottom: 2px solid $campfire-white;
            }
          }

          &.navButton {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 15px 20px;
            width: 150px;
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }

  .mobile-nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .95);
    z-index: 10;
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.is-active {
      transform: translateY(0);
    }

    ul {
      list-style: none;

      li {
        margin: 15px 10px;

        a {
          text-transform: uppercase;
          font-size: 36px;
          font-weight: 600;
          text-decoration: none;
          letter-spacing: 1px;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          transition: .2s all ease;

          &.mobileNavLink {
            &:hover {
              color: $campfire-lightRed;
              border-bottom: 2px solid $campfire-lightRed;
            }
          }

          &.navButton {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 15px 20px;
            width: 150px;
            border-bottom: 2px solid transparent;
          }
        }
      }
    }
  }

  .hamburger {
    display: none;
    margin-left: auto;
    z-index: 20;
    position: fixed;
    top: 45px;
    right: 45px;
  }
}

@media (max-width: 1200px) {
  .main-navigation {

    .navigation-list-wrapper {
      ul {
        li {
          margin: 0 8px;

          a {
            font-size: 14px;
            letter-spacing: 1px;

            &.navLink {}

            &.navButton {
              padding: 10px 15px;
              width: 120px;
            }
          }
        }
      }
    }

  }
}

@media (max-width: 991px) {
  .main-navigation {

    .hamburger {
      display: block;
    }

    .mobile-nav-list {
      display: flex;
      transform: translateY(-100%);
    }

    .navigation-list-wrapper {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .main-navigation {
    .hamburger {
      top: 20px;
      right: 20px;
    }
  }
}

/**
 * Section Styles
 */
section.section {
  position: relative;
  background-color: $campfire-white;

  &:first-of-type {
    height: 96.825vh;
  }

  .section-row-wrapper {
    padding: 30px 0;
  }

  .red-header {
    background-color: $campfire-lightRed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-image {
    position: relative;
    max-height: 370px;
    min-height: 270px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    figure {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  section.section {

    .red-header {
      height: 70px;
    }

    .section-image {
      min-height: 200px;
    }

  }
}

/**
 * Main Section
 */
section.section-main {
  border-bottom: 30px solid $campfire-lightRed;
  background-image: url(/images/section-main/headerbg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-heading {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
  }

  .main-subheading {
    position: absolute;
    bottom: 50px;
    width: 100%;

    h2 {
      margin-bottom: 10px;
    }

    figure.arrow-image {
      max-width: 57px;
      cursor: pointer;
    }
  }
}

/**
 * About Section
 */
section.section-about {
  height: auto;
  background-color: $campfire-white;
  padding-bottom: 0;
  padding-top: 50px;

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .about-wording {
    max-width: 750px;
  }

  .section-image {
    &.parallax-first {
      background-image: url(/images/parallax-1.png);
    }
  }
}

@media (max-width: 768px) {
  section.section-about {
    padding-top: 0;

    .section-row-wrapper {
      padding-bottom: 20px;
    }
  }
}

/**
 * Member Section
 */
section.section-member {
  height: auto;
  background-image: url(/images/section-member/membershipfeature-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $campfire-darkRed;
  border-bottom: 30px solid $campfire-white;
  padding: 80px 0;

  h1 {
    margin-bottom: 30px;
  }

  .feature-wrapper {
    min-height: 255px;
    max-width: 235px;
    margin-bottom: 30px;
  }

  .member-heading,
  .member-icon {
    margin-bottom: 20px;
  }

  .member-icon {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .member-wording {
    text-align: center;
  }

  .member-list {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 150%;
  }
}

@media (max-width: 991px) {
  section.section-member {
    h1 {
      text-align: center;
    }
  }
}

/**
 * Plans Section
 */
section.section-plans {
  height: auto;
  border-bottom: 30px solid $campfire-white;

  .accordion-plans-wrapper {
    border-bottom: 30px solid $campfire-white;

    .accordion-plan {
      width: 100%;

      .accordion-button {
        position: relative;
        width: 100%;
        background-color: $campfire-lightRed;
        border-top: 2px solid $campfire-white;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        h2, i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all .5s ease-in-out;
        }

        h2 {
          text-align: left;
          left: 50px;
          font-size: 18px;
        }

        i {
          right: 50px;
        }

        &.active-plan {
          background-color: $campfire-white;

          h2, i {
            color: $campfire-lightRed;
          }

          h2 {
            font-size: 24px;
            transform: translate(10px, -50%)
          }

          i {
            transform: translate(-10px, -50%)
          }
        }
      }

      .accordion-content {
        background-color: #ccc;
        max-height: 0;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .5s ease-out;

        &#acc-1 {
          background-image: url(/images/section-plans/flex.png);
        }

        &#acc-2 {
          background-image: url(/images/section-plans/hotdesk.png);
        }

        &#acc-3 {
          background-image: url(/images/section-plans/mixed.png);
        }

        &#acc-4 {
          background-image: url(/images/section-plans/private.png);
        }

        &.active-plan {
          max-height: 600px;

          .accordion-content-wrapper {
            transform: scale(1, 1);
            opacity: 1;
          }
        }

        .accordion-content-wrapper {
          background-color: rgba(0, 0, 0, 0.7);
          width: 70%;
          margin: 60px auto;
          padding: 40px;
          transform: scale(.3, .3);
          max-width: 700px;
          opacity: 0;
          transition: all .5s ease-out;

          .accordion-left {
            display: flex;
            flex-direction: column;

            h2 {
              white-space: nowrap;
            }

            h2, p {
              text-align: left;
              margin-bottom: 40px;
            }

            a {
              margin-bottom: 40px;
            }
          }

          .accordion-right {
            h3 {
              margin: 20px 0;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .section-image {
    &.parallax-second {
      background-image: url(/images/parallax-2.png);
    }
  }
}

@media (max-width: 768px) {
  section.section-plans .accordion-plans-wrapper .accordion-plan {
    .accordion-button {
      h2 {
        font-size: 16px;
      }

      &.active-plan {
        h2 {
          font-size: 20px;
        }
      }
    }

    .accordion-content {
      &.active-plan {
        max-height: 780px;
      }

      .accordion-content-wrapper {
        .accordion-left {
          h2, p, a {
            margin: 0 auto 20px auto;
            max-width: 200px;
          }
        }

        .accordion-right {
          h3 {
            font-size: 16px;
            margin: 15px 0 10px;
          }
        }
      }
    }
  }
}

/**
 * Location Section
 */
section.section-locations {
  height: auto;
  border-bottom: 30px solid $campfire-darkRed;

  .accordion-location-wrapper {

    .accordion-location {
      width: 100%;

      &:first-of-type {
        white-space: nowrap;
      }

      &:last-of-type {
        .accordion-button {
          border-bottom: 2px solid $campfire-white;

          h2 {
            white-space: nowrap;
          }
        }
      }

      .accordion-button {
        position: relative;
        width: 100%;
        background-color: $campfire-lightRed;
        border-top: 2px solid $campfire-white;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        h2, i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          transition: all .5s ease-in-out;
        }

        h2 {
          text-align: left;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 18px;
        }

        i {
          right: 50px;
        }

        &.active-plan {
          background-color: $campfire-white;

          h2, i {
            color: $campfire-lightRed;
          }

          h2 {
            font-size: 24px;
          }

          i {
            transform: translate(-10px, -50%)
          }
        }
      }

      .accordion-content {
        position: relative;
        background-color: #ccc;
        max-height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;

        &.active-plan {
          max-height: 700px;
        }

        .accordion-content-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.85);
          width: 100%;
          height: 100%;
          transform: scale(0, 0);
          opacity: 0;
          transition: all .5s ease-in-out;

          &.marker-clicked {
            transform: scale(1, 1);
            opacity: 1;
          }

          figure.location-x-image {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 25px;
            cursor: pointer;
            z-index: 5;
          }

          &.coming-soon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 0;

            h2 {
              line-height: 150%;
              margin-bottom: 20px;
            }
          }
        }

        .location-left-wrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .location-left {
            &:last-of-type {
              margin-bottom: 20px;
            }
          }

          .location-buttons {
            .location-button {
              background-color: rgba($campfire-white, 0.3);
              margin-bottom: 10px;
              margin-left: -15px;
              padding: 10px 10px 10px 20px;
              max-width: 275px;
              cursor: pointer;
              transition: .2s all;

              &:hover {
                background-color: rgba($campfire-lightRed, .3);

                h2 {
                  color: $campfire-white;
                }
              }

              &.active-location {
                background-color: rgba($campfire-lightRed, .8);

                h2 {
                  color: $campfire-white;
                }
              }
            }
          }

          .location-details {
            h2 {
              text-align: left;
            }

            h2, p {
              margin-bottom: 10px;
            }

            table {
              table-layout: fixed;
              width: 100%;
            }
            td {
              padding: 10px 0;
              word-break: break-all;
              font-size: 12px;
            }
            td.table-head {
              text-transform: uppercase;
              width: 37%;
            }
            td.table-body {
              width: 63%;
            }
          }
        }

        .location-right-wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 50px;

          .slider-for {
            margin-bottom: 20px;
            cursor: grab;

            figure.slider-for-image {
              max-width: 650px;
              margin: 0 auto;
            }
          }

          .slider-nav {
            div {
              margin: 0 10px;
            }
            .slider-nav-image {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

}

.google-map-wrapper {
  position: relative;
  width: 100%;

  .google-map {
    position: relative;
    width: 100%;
    min-height: 700px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
  }
}

@media (max-width: 768px) {
  section.section-locations .accordion-location-wrapper .accordion-location {

    .accordion-button {
      h2 {
        font-size: 16px;
      }

      i {
        right: 20px;
      }

      &.active-plan {
        h2 {
          font-size: 20px;
        }

        i {
          transform: translate(-10px, -50%)
        }
      }
    }

    .accordion-content {
      &.active-plan {
        max-height: 600px;
      }

      .location-right-wrapper {
        padding: 20px;
      }

      .accordion-content-wrapper {
        // position: relative;
      }
    }

  }

  .google-map-wrapper.google-map {
    min-height: auto;
  }
}

/**
 * Loop Section
 */
section.section-loop {
  height: auto;
  background-color: $campfire-white;
  border-bottom: 30px solid $campfire-darkRed;
  padding: 0;
  overflow: hidden;

  &.loop-hovering {
    .loop-bg.loop-bg-left {
      transform: translate(0, -50%) rotate(0deg);
    }

    .loop-bg.loop-bg-right {
      transform: translate(0, -50%) rotate(0deg);
    }
  }

  .loop-bg {
    position: absolute;
    width: 85%;
    transition: 15s all ease;

    &.loop-bg-left {
      left: -40%;
      top: 50%;
      transform: translate(-50px, -50%) rotate(45deg);
    }

    &.loop-bg-right {
      right: -40%;
      top: 50%;
      transform: translate(50px, -50%) rotate(-45deg);
    }
  }

  .join-heading-wrapper {
    max-width: 410px;
    // max-width: 230px;

    h1 {
      text-align: center;
      white-space: nowrap;
    }

    h2 {
      &.text-left {
        text-align: left;
      }

      &.text-right {
        text-align: right;
      }
    }
  }

  a.button {
    margin-bottom: 20px;
  }

  .newsletter-input-wrapper {
    width: 150px;
    position: relative;
    z-index: 1;

    input[type="text"].input-newsletter {
      padding: 15px 20px;
      font-size: 12px;
      letter-spacing: 1px;
      border-radius: 4px;
      color: $campfire-black;
      width: 350%;
      background-color: #fff;
      background-image: none;
      border: 1px solid $campfire-black;
      margin-right: 10px;
      margin-bottom: 20px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      &:focus {
        border-color: rgba(175,32,36, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(175,32,36, 0.6);
        outline: 0 none;
      }
    }

    input[type="text"].input-newsletter::-webkit-input-placeholder {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      color: $campfire-black;
    }
  }

}

@media (max-width: 768px) {
  section.section-loop {
    .loop-bg {
      position: absolute;
      width: 110%;

      &.loop-bg-left {
        left: -40%;
        top: 10%;
        transform: translate(0, -50%);
      }

      &.loop-bg-right {
        right: -40%;
        top: 90%;
        transform: translate(0, -50%);
      }
    }
  }
}

/**
 * Join Section
 */
section.section-join {
  height: auto;
  background-color: $campfire-white;
  padding: 60px 0 40px 0;

  h1 {
    margin-bottom: 15px;
  }

  .flex-display {
    align-items: flex-start;

    &.flex-end {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

@media (max-width: 768px) {
  section.section-join {
    padding: 45px 0 25px 0;
  }
}

/**
 * Footer
 */
footer.footer {
  height: auto;
  background-color: $campfire-white;
  padding: 20px 0 40px 0;

  .flex-display {
    align-items: center;

    &.flex-end {
      justify-content: flex-end;
    }
  }

  figure.logo-image,
  figure.footer-social-image {
    margin-right: 20px;
  }

  figure.logo-image {
    max-width: 65px;
  }

  figure.footer-social-image {
    max-width: 40px;
  }

  p {
    &.medium-light {
      font-size: 16px;
    }

    &.small-light {
      margin-top: 10px;
      text-align: center;
      font-size: 12px;
    }
  }
}

@media (max-width: 768px) {
  footer.footer {
    .flex-display {
      justify-content: center;
      margin-bottom: 20px;

      p {
        font-size: 14px;
      }

      &.flex-end {
        justify-content: center;
      }
    }
  }
}

/*
 * JS WAYPOINT ANIMATION
 **/

.waypoint {
  transition: 1s all ease-in-out;

  &.inView {
    opacity: 1;
  }

  &.notInView {
    opacity: 0;
  }

  &.animated-visible {
    transform: translate(0, 0);
  }

  &.bottomToTop-hidden {
    transform: translateY(100px);
  }

  &.leftToRight-hidden {
    transform: translateX(-100px);
  }

  &.rightToLeft-hidden {
    transform: translateX(100px);
  }

  &.leftToRightSpecial-hidden {
    transform: translateX(-100%);
  }
}

/*
 * ==============================================
 *             HAMBURGER STYLE
 * ==============================================
 */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;

      &:before,
      &:after {
        content: "";
        display: block;
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: $campfire-white;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
  }

}

.hamburger.hamburger--elastic {
  .hamburger-box {

    .hamburger-inner {
      top: 2px;
      transition-duration: 0.275s;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease;
      }

      &:after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }

  }

  &.is-active {
    .hamburger-box {
      .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s;

        &:before {
          transition-delay: 0s;
          opacity: 0;
        }

        &:after {
          transform: translate3d(0, -20px, 0) rotate(-270deg);
          transition-delay: 0.075s;
        }
      }

    }
  }
}
